@mixin sm {
    @media (max-width: 576px) { @content; }
}

@mixin md {
    @media (min-width: 768px) { @content; }
}

@mixin lg {
    @media (min-width: 992px) { @content; }
}

@mixin xl {
    @media (min-width: 1200px) { @content; }
}

@include sm {
    html {
      font-size: 1.4rem;
    }
  }

  @include md {
    html {
      font-size: 1.2rem;
    }
  }

  @include lg {
    html {
      font-size: 1.1rem;
    }
  }

  @include xl {
    html {
      font-size: 1rem;
    }
  }