@viewport {
    width: device-width;
  }
    
  html {
  overflow-y: auto;
  }

  html, body {
    height: 100%;
  }
  
  img
  {
    max-width: 100%;
  }
  
  a:link {
    text-decoration: none;
  }

  a:visited {
      text-decoration: none;
  }

  a:hover {
      text-decoration: underline;
  }

  a:active {
      text-decoration: underline;
  }

  body {
    margin: 0%;
    display: flex;
    flex-direction: column;    
  }
  
  #mainArea {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;         
  }

  #add {
    width: 3em;
    height: 3em; 
  }

  #salir {
    width: 3em;
    height: 3em;
    background: white;
    border-radius: 50%; 
  }

  #divTitulo {
    
    font-family: "Lucida Console", Monaco, monospace;

  }

  .item {
    
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    border-radius: 5px;
    border-style:groove;
    border-bottom: 0.5vw solid #707070;
    
  }

  #statusBar {          

    font-family: "Lucida Console", Monaco, monospace;
  }

  #linkHogar, #linkWappcom {

    background-color: transparent;
    font-weight: bold;
    color:white;

  }

  @mixin sm {
      @media (max-width: 576px) { @content; }
  }
 
  @mixin md {
      @media (min-width: 768px) { @content; }
  }
  
  @mixin lg {
      @media (min-width: 992px) { @content; }
  }
  
  @mixin xl {
      @media (min-width: 1200px) { @content; }
  }
  
  @include sm {

      #divTitulo, .item, #tituloMarca  {
        font-size: 1.4rem;
      }     

      #statusBar {

        font-size: 1.1rem;
      }
  

   }

  
    @include md {

      #divTitulo, .item, #tituloMarca  {
        font-size: 1.4rem;
      }

      #statusBar {
        font-size: 1.1rem;
      }
  
    }
  
    @include lg {

      #divTitulo, .item, #tituloMarca  {
        font-size: 1.2rem;
      }
      #statusBar {
        font-size: 1.2rem;
      }
  
    }
  
    @include xl {

      #divTitulo, .item, #tituloMarca  {
        font-size: 1.5rem;
      }

      #statusBar {
        font-size: 1.5rem;
      }
  
    }

