@viewport {
    width: device-width;
  }
    
  html {
  overflow-y: auto;
  }

  html, body {
    height: 100%;
  }
  
  img
  {
    max-width: 100%;
  }
  
  a:link {
    text-decoration: none;
  }

  a:visited {
      text-decoration: none;
  }

  a:hover {
      text-decoration: underline;
  }

  a:active {
      text-decoration: underline;
  }

  body {

    margin: 0%;
    display: flex;
    flex-direction: column;    
    
  }

  #encabezadoBar * {

    width: 3em;
    height: 3em;    
    background: white;
    border-radius: 50%;	

  }
   
  #mainArea {
    
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;

  }  

  #tipoMarca_Descripcion  {

    font-family: "Lucida Console", Monaco, monospace;	
    font-size: 2em;
    color: yellow;
    font-weight: bold;
    background-color: gray;   
    text-align: center;
    border-radius: 5px;

  }

  #divNombre  {

    font-family: "Lucida Console", Monaco, monospace;	
    font-size: 3em;	
    background-color: white;
    border-radius: 5px;
    text-align: center;
    color:black;
  }

  #txtMarca {
    flex-grow: 1;
    background-color: transparent;
    color: white;	
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1.5em;
    border-radius: 5px;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 5px;    
      
  }

  #tabla{    
    display: flex;
    flex-direction: column;
   
  }

  #fila{   
    flex-grow: 1;
    display: flex;
    justify-content: center;       
  }
  
  #Col{       
    flex: 1;
    display: flex; 
    background-color: transparent;
    justify-content: center;
  }

  .ui-datepicker {
    background: #333;
    border: 1px solid #555;
    color: #EEE;
  }


  #statusBar {          

    font-family: "Lucida Console", Monaco, monospace;
  }

  #linkHogar, #linkWappcom {

    background-color: transparent;
    font-weight: bold;
    color:white;

  }

  @mixin sm {
      @media (max-width: 576px) { @content; }
  }
 
  @mixin md {
      @media (min-width: 768px) { @content; }
  }
  
  @mixin lg {
      @media (min-width: 992px) { @content; }
  }
  
  @mixin xl {
      @media (min-width: 1200px) { @content; }
  }
  
  @include sm {

    #tituloMarca {
        font-size: 1.4rem;
      }     

      #statusBar {

        font-size: 1.1rem;
      }
  

   }

  
    @include md {

    #tituloMarca {
        font-size: 1.4rem;
      }

      #statusBar {
        font-size: 1.1rem;
      }
  
    }
  
    @include lg {

      #tituloMarca {
        font-size: 1.2rem;
      }
      #statusBar {
        font-size: 1.2rem;
      }
  
    }
  
    @include xl {

      #tituloMarca{
        font-size: 1.5rem;
      }

      #statusBar {
        font-size: 1rem;
      }
  
    }

